src/main/mule/elasticmule-ui.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="elasticmule-uiFlow" doc:id="fb709ee4-0263-492c-92e3-ba5bb6287cd7" >
		<http:listener doc:name="Listener" doc:id="b4f5d981-3869-46e4-879b-2ba9e8e1c2b7" config-ref="HTTP_Listener_config" path="/*">
		</http:listener>
		<logger level="DEBUG" doc:name="Logger UI Listener" doc:id="d254b372-8ea9-4b59-bb07-04cc2bf715a5" message="#[attributes.relativePath]"/>
		<http:load-static-resource doc:name="Load React Static Resources" doc:id="7cede032-3158-47f5-9b5e-db2289d7b802" resourceBasePath="#[p('app.home') ++ '/web']"/>
		<error-handler ref="error-uiHandlerAdviser" />
	</flow>
	<error-handler name="error-uiHandlerAdviser" doc:id="1b8de569-7cb3-4cda-aba4-e6b539a84a53" >
		<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue UI" doc:id="e49bb76e-4f49-4189-9de0-cc167cf1545a" >
			<ee:transform doc:name="Transform Message" doc:id="54e383b8-8ac3-44a5-b412-32d632ff59b9" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"error" : {
		"status": error.errorMessage.attributes.statusCode,
		"reason": error.errorMessage.attributes.reasonPhrase,
		"description": error.description,
		"details": error.detailedDescription,
		"type": error.errorType
	}
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		</on-error-continue>
	</error-handler>
</mule>
