src/main/mule/elasticmule-ui.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<flow name="elasticmule-uiFlow" doc:id="fb709ee4-0263-492c-92e3-ba5bb6287cd7" >
		<http:listener doc:name="Listener" doc:id="b4f5d981-3869-46e4-879b-2ba9e8e1c2b7" config-ref="HTTP_Listener_config" path="/ui/*"/>
		<logger level="INFO" doc:name="Logger UI Listener" doc:id="d254b372-8ea9-4b59-bb07-04cc2bf715a5" message="#[attributes]"/>
		<http:load-static-resource doc:name="Load React Static Resources" doc:id="7cede032-3158-47f5-9b5e-db2289d7b802" resourceBasePath="#[p('app.home') ++ '/web']" attributes="attributes"/>
	</flow>
</mule>
